{% extends 'base.html' %} {% block title %}Login{% endblock %} {% block loginb
%}active{% endblock %}{% block content %}
<h1>This is the Login Page</h1>

<form method="POST">
  <div class="row mb-3">
    <label for="email" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-10">
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        required
      />
    </div>
  </div>
  <div class="row mb-3">
    <label for="password" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-10">
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        required
      />
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Sign Up</button>
</form>

{% endblock %}
